#canvas-line {
    width: 100%;
    height: 100%;
}

.meun {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 9;
}

.meun div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.meun img {
    width: 20px;
    height: 20px;
    user-select: none;
    object-fit: fill;
    box-sizing: border-box;
}
